@import
	url(https://fonts.googleapis.com/css?family=Open+Sans:300,300italic,600,600italic)
	;

* {
	margin: 0px;
	padding: 0px;
	text-decoration: none;
}

body {
	font-family: 'Open Sans'
}

div#header {
	background-color: #2980b9;
	color: #fff;
	font-size: 1.3em;
	height: 50px;
}

span.logo {
	margin-top: 10px;
	float: left;
	margin-left: 10px;
}

span.logo a {
	color: #fff;
	font-weight: 600;
}

.sidebar {
	float: left;
	width: 250px;
	background-color: #2c3e50;
	font-size: 90%;
}

ul.mainMenu {
	color: #fff;
	list-style-type: none;
}

ul.mainMenu li {
	height: 3em;
	line-height: 3em;
	display: block;
}

.mainMenu li a {
	padding-left: 0.5em;
	display: block;
	color: #fff;
}

.mainMenu li a:hover {
	background-color: #34495e;
	text-decoration: none;
}

div.mainContent {
	float: left;
	padding: 20px;
}