body {
	margin: 0px;
}

#container {
	width: 1200px;
	margin: auto;
}

#header {
	font-size: 2em;
	height: 2.5em;
	line-height: 2.5em;
	font-weight: bold;
}

#sidebar {
	float: left;
	width: 200px;
	background-color: #2c3e50;
	color: #fff;
}

#sidebar ul {
	margin: 0px;
	list-style-type: none;
	padding: 0px;
	border: 0px;
}

#sidebar ul li {
	display: block;
}

#sidebar ul li a {
	display: block;
	background-color: #2c3e50;
	color: #fff;
	text-decoration: none;
	padding: 5px;
	padding-left: 10px;
	border-bottom: 1px solid #fff;
}

#sidebar ul li a:HOVER {
	background-color: #2980b9;
}

#footer {
	position: absolute;
	bottom: 20px;
}

#contentArea {
	padding-left: 20px;
	float: left;
	width: 980px;
}

.heading {
	font-size: 1.2em;
	font-style: italic;
	font-weight: bold;
	margin-bottom: 10px;
	border-bottom: 1px solid #909090;
	padding-bottom: 10px;
}